body {

 background-color: #cccccc;
}

.logo{
	text-align: center;
	font-family: Allura;
	font-size: 20px;
    font-weight: bolder;
    

}
.roundlogo{
	border-radius: 50%;

}
h1{
	font-family: Italianno;
	font-size: 60px;
	text-align: center;

}
div.scrollmenu {
  background-color: #FA8072;
  white-space: nowrap;
  position: fixed;
  top: 0; 
  width: 98.5%; 
  border: 2px solid #B8860B;
}

div.scrollmenu a {
	
  display: inline-block;
  color: black;
  font-weight: bolder;
  padding: 14px;
  text-decoration: none;
  float: right;

}
div.scrollmenu a:hover {
  background-color: #DC143C;
  font-style: italic;
}
.image,.account{
	text-align: center;
}
legend{
	font-family: Inconsolata;
	font-size: 40px;
	text-align: center;
	

}
text{
	font-family: Indie Flower;
	font-size: 50px;
    font-style: italic;
    font-weight: bolder;

}
.button {
  background-color: #FA8072; 
  border: none;
  color: white;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  border: 2px solid #B8860B;
}
.button:hover {
  background-color: #FF6347; 
  color: white;
  border: 2px solid #B8860B;
}
li{
	text-align: center;
	font-size: 20px

}
fieldset,input{
	border: 2px solid #B8860B;

}
input{
	height: 25px;
}
span { 
  padding: 10px; 
  font-size: 18px;
  font-style: italic;
}
fieldset{
	border: 2px solid #B8860B;
	margin: 40px;
}

.bottom{
	background-color: #FA8072;
	margin: 6px;
	text-align: center;

}
/* Style all input fields */
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}


input[type=submit] {
  background-color: #4CAF50;
  color: white;
}


.container {
  background-color: #f1f1f1;
  padding: 20px;
}


#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}


.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "&#10004;";
}


.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "&#10006;";
}

